<nav>
  <img src="/img/logo.svg" alt="">
  <ul>
    <li><a <%- allLink ? "class='active'" : "" %>

        href="/">ALL</a></li>
    <li><a <%- newLink ? "class='active'" : "" %>
        href="/new">NEW ARTICLE</a></li>
  </ul>
</nav>